body{
    background-color: radial-gradient(#00fbff, #165657);
    transition: all 0.3s;
}
.ResetButton {
    width: 80%;
    height: auto;
    min-height: 40px;
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    z-index: 2;
    background-color: rgb(47, 255, 57);
    border: 3px solid;
    border-radius: 3px;
    margin-top: 5px;
    transition: all 0.3s ease;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.Reset {
    position: absolute;
    width: 300px;
    margin: 5px;
    padding: 10px;
    box-sizing:border-box;
    border: 7px solid;
    border-radius: 7px;
    text-align: center;
    font-weight: 1000;
    z-index: 2;
    font-size: 1.3em;
    box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.75);
}
.Title {
    font-size: 1.9em;
    white-space: nowrap;
}
.Desc {
    margin-top: 2px;
    font-size: 0.8em;
    line-height: 0.8em;
    font-size: clamp(1.2rem, 2vw, 2rem);
    white-space: pre-wrap;
}
